.app-header {
    //TODO change from full opacity to black according to scroll
    padding: 10px;
    display: flex;
    height: 64px;
    // justify-content: space-between;
    align-items: center;

    .loggedin-user {
        background-color: $clr1;
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;

        span {
            background-color: $clr2;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
    }

}