.nav-container {
    background-color: $clr08;
    padding: 24px;
    font-size: 0.8125rem;
    width: 20vw;
    min-width: 200px;
    max-width: 300px;
    padding-inline-end: 0;
    letter-spacing: 0.06em;
    word-spacing: -0.1em;


    .logo {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 24px;
        font-family: gotham;
        letter-spacing: -0.05em;
        // font-weight: 600;
    }

    svg {
        flex-shrink: 0;
        height: 24px;
        width: 24px;
        fill: currentcolor;
        overflow: hidden;
    }

    & a {
        color: $clr02;


        &:hover {
            color: $clr01;
            text-decoration: none;

            .heart-btn {
                opacity: 1;
            }
        }

        .ifActive {
            display: none;
        }

        hr {
            background-color: #282828;
            border: none;
            min-height: 2px;
            margin-bottom: 0;
        }
    }
    
    & .router-link-active:not(.create) {
        color: $clr01;
        
        & .ifActive {
            display: block;
        }
        
        & .heart-btn {
            opacity: 1;
        }
    }
    
}

hr {
    background-color: #282828;
    border: none;
    min-height: 2px;
    margin-bottom: 0;
    margin-inline-end: 24px;
}


.permanent-nav a {
    transition: color .4s;

    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    height: 40px;

    span {
        font-weight: 900;
    }
}

.app-nav {
    margin-bottom: 24px;
}

.nav-btn {
    background-color: currentcolor;
    height: 24px;
    width: 24px;
    border-radius: 3px;

    svg {
        fill: $clr08;
        height: 12px;
        width: 12px;
    }
}

.heart-btn {
    background: linear-gradient(135deg, #450af5, #c4efd9);
    opacity: 0.7;
    transition: opacity .4s;

    svg {
        fill: $clr01;
    }

}

.user-stations {
    padding: 8px 0;
    overflow-y: auto;
    height: calc(100vh - 413px);

    a {
        cursor: default;
        font-weight: 600;
        height: 32px;

        &:hover {
            font-weight: 900;
        }
    }
}