 .nav-container {
     background-color: $clr3;
     padding: 24px;

     .logo {
         margin-bottom: 24px;
         display: flex;
         align-items: center;
         gap: 5px;
         font-size: 24px;
         width: 240px;

     }

     svg {
         flex-shrink: 0;
         height: 24px;
         width: 24px;
         fill: currentcolor;
         overflow: hidden;
     }

     & a {
         color: $clr4;

         &:hover {
             color: $clr2;
             text-decoration: none;
             .heart-btn{
                    opacity:1;
             }
         }

     }
 }

 .permanent-nav a {
     transition: color .4s;

     align-items: center;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     gap: 16px;
     height: 40px;

     span {
         font-size: 0.8125rem;
         font-weight: 600;
     }
 }

 .app-nav {
     margin-bottom: 24px;
 }

 .user-stations a {
     cursor: default;
 }

 .nav-btn {
     background-color: currentcolor;
     height: 24px;
     width: 24px;
     border-radius: 3px;



     svg {
         fill: $clr3;
         height: 12px;
         width: 12px;
     }
 }

 .heart-btn {
     background: linear-gradient(135deg, #450af5, #c4efd9);
     opacity:0.7;

     svg {
         fill: currentcolor;
     }

 }