.img-uploader-container {
    // height: 192px;
    // width: 192px;
    // flex-shrink: 0;
    background: $clr06;
    position: relative;

    box-shadow: 0 4px 60px rgb(0 0 0 / 50%);

    img {
        justify-self: center;
        aspect-ratio: 1/1;
        object-fit: cover;
        height: 100%;
    }

    .alt-img {
        height: 100%;
        width: 100%;

        svg {
            fill: $clr03;
        }
    }

    .loader-container {
        position: absolute;
        inset: 0;
        display: flex;
        background-color: rgba(40, 40, 40, 0.5);
    }

    .subForMobile {
        display: none;
    }
}