.liked-songs-card {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
    cursor: pointer;

    @media (max-width: 750px) {
        height: 42px;
    }



    @media (min-width: 750px) {
        display: flex;
        grid-column: span 2;
        padding: 20px;
        border-radius: 7px;
        background: linear-gradient(135deg, hsla(255, 91%, 50%, 1) 0%, hsla(240, 63%, 73%, 1) 100%);
    }

    .liked-songs-previews {
        display: none;

        @media (min-width: 750px) {
            font-size: 14px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }

    .img-container {
        display: block;

        @media (min-width: 750px) {
            display: none;
        }

        img {
            @media (min-width: 750px) {}
        }

    }

    .liked-songs-info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (min-width: 750px) {
            justify-content: space-around;
        }

        h1 {
            margin: 0;
            font-weight: 300;
            color: $clr02;

            @media (min-width: 750px) {
                color: $clr01;
                font-weight: 600;
                font-size: rem(32px);
            }
        }

        p {
            margin: 0;
            font-size: 0.875rem;
            color: $clr03;

            @media (min-width: 750px) {
                color: $clr01;
            }
        }
    }
}