.liked-songs {
    .liked-songs-img{
        width: 30px;
        border-radius: 20px;
    }
    .station-preview {
        background: linear-gradient(transparent 0, rgba(0, 0, 0, .5) 100%);
        background-color: rgb(80, 56, 160);



        .img-container {
            height: 192px;
            width: 192px;
            box-shadow: 0 4px 60px rgb(0 0 0 / 50%);

        }

        .station-summary {
            h1 {

                @media(max-width: 750px) {
                    // padding-top: 80px;
                    font-size: 2rem;
                }
            }
        }

        .mini-dashboard {
            font-weight: 100;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .username {
            font-weight: 600;
        }
    }

    .song-list-container {
        min-height: 230px;
        // background-image: linear-gradient(rgba(0, 0, 0, .6) 0, $clr07 50%);
        background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 230px);
        background-color: rgb(80, 56, 160);
    }
}