.main-search-list {
    padding: 5px;

    @media (min-width: 860px) {
        padding: 35px;
    }


    .main-search-list-header {
        display: none;

        @media (min-width: 860px) {
            display: grid;
            grid-template-columns: 15px 9fr 4fr 110px;
            gap: 10px;
            border-bottom: 1px solid $clr10;
            margin: 0 7px 15px 0;
            padding: 8px 10px 8px 15px;
            height: 35px;
            align-items: center;
            font-family: circular-light;
            font-size: 0.75rem;
            font-weight: 560;
            letter-spacing: 1px;
            color: $clr09;
        }

        .list-song-index {
            font-size: 1rem;
        }

        .list-song-title {
            text-transform: uppercase;
        }

        .list-song-length {
            display: grid;

            small {
                justify-self: center;
            }
        }
    }

}