.main-search {
    display: flex;
    width: rem(364px);
    align-items: center;


    svg {
        fill: #121212;
        position: absolute;
        margin-inline-start: 10px;
    }

    input {
        height: 40px;
        border-radius: 500px;
        width: 100%;
        padding: 6px 48px;
        border: 0;
        color: black;

        &::-webkit-search-cancel-button {
            cursor: pointer;
            -webkit-appearance: none;
            position: relative;
            left: 35px;
            height: 18px;
            width: 18px;
            background: url('../img/x-solid.png') 50% 50% no-repeat;
            background-size: contain;
            opacity: 0;
            pointer-events: none;
        }

        &:focus::-webkit-search-cancel-button {
            opacity: 1;
            pointer-events: all;
        }
    }
}