.debug {
    background-color: #181818;
    position: absolute;
    width: 100vw;
    z-index: 1000000000;
    display: none;
}

.media-player {
    pointer-events: all;

    iframe {
        display: none;
    }

    button {
        background-color: transparent;
        cursor: pointer;
    }

    svg {
        fill: $clr02;


        &:hover {
            fill: $clr01;
            cursor: pointer;
        }

        &.liked {
            fill: $clrGreen;
            height: 16px;
            width: 16px;
        }
    }

    .media-img {
        height: 56px,
    }

    .player-section>*:first-child {
        display: none;
    }
}


.controls {
    pointer-events: all;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #181818;
    border-top: 1px solid #282828;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 90px;

}

.center-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 40%;

    .loop-song {
        fill: $clrGreen;
    }

    .loop-song:hover {
        fill: $clr01;
    }

}

.top-center-controls {
    .btn-play {
        path {
            fill: $clr01;
        }
    }
}

.left-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 20%;

    img {
        width: 56px;
        margin-inline-end: 16px;
    }


    .player-song-name {
        width: 100%;
        color: $clr02;
        font-size: 14px;
    }

    .player-artist-name {
        color: $clr02;
        font-size: 11px;
    }

    >* {
        margin-inline-end: 10px;
    }

    .lyrics-btn {
        opacity: 0;
        pointer-events: none;

        &.active {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.right-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;

    button {
        padding-bottom: 0;
    }


}

.bottom-center-controls {
    display: flex;
    width: 100%;
    align-items: center;



    .time-progress-1 {
        font-size: 11px;
    }

    .time-progress-2 {
        font-size: 11px;
    }

    span {
        color: $clr02;
    }


}

.artist-details {
    min-width: 90px;
    max-height: 90%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    max-height: 68px;

    &:hover::-webkit-scrollbar {
        position: absolute;
        left: 0;
        width: 3px;
        // transform: translateX(100%);


        /* Track */
        &-track {
            background: transparent;
        }

        /* Handle */
        &-thumb {
            background: rgba(173, 173, 173, 0.386);
            border-radius: 999px;
        }

        /* Handle on hover */
        &-thumb:hover {
            // background: rgba(136, 136, 136, 0.5);
            // background: #555;
        }

        @media(max-width:$narrow-breakpoint) {
            display: none;
        }
    }
}

@media(max-width:$narrow-breakpoint) {

    .controls {
        height: 80px;
        border: 0;
        border-radius: 10px;
        bottom: 65px;
        background-color: $clr05;
        margin: 0 12px;
        width: calc(100% - 24px);
    }

    .right-controls {
        display: none;
    }

    .top-center-controls {
        button:not(.play-btn) {
            display: none;
            align-items: flex-end;
        }

    }

    .center-controls {
        align-items: flex-end;
    }

    .bottom-center-controls {
        // progress{
        //     height: 3px;
        // }
        // input{
        //     height: 3px;
        // }
        position: absolute;
        bottom: 2px;
        width: 98%;
        left: 5px;
        padding: 0;

        span {
            display: none;
        }

    }

    .left-controls {
        flex-basis: 90%;

        button {
            position: absolute;
            right: 50px;
        }

        .media-img {
            height: 50px;
        }

        .player-song-name {
            font-size: 1rem;
        }
        .artist-details:not(.full){
            max-height: 56px;
        }
    }

    .lyrics-btn {
        display: none;
    }
}


.progress-container {
    pointer-events: none;

    height: 10px;
    width: 100%;
    position: relative;


    .prog {
        width: 97%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    input[type='range'] {
        height: 4px;
        appearance: none;
        background: transparent;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: transparent;
        }
    }

    progress[value] {
        appearance: none;
        border: none;
        height: 4px;

        &::-webkit-progress-bar {
            background-color: rgb(154, 154, 154); // change to spotify
            border-radius: 2px;
        }

        &::-webkit-progress-value {
            background: white;
            border-radius: 2px;
        }


    }

    @media (min-width:$narrow-breakpoint) {
        pointer-events: all;

        &:hover progress[value]::-webkit-progress-value {
            background: $clrGreen;
        }

        &:hover input[type='range']::-webkit-slider-thumb {
            background: #fff;
        }
    }
}