.media-player.full{
    // background-image: url(https://assets.fontsinuse.com/static/use-media-items/52/51196/full-1500x1500/58f577f9/C9H8-PWUIAAzbQ2-jpg-large-e.jpeg);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 31;
    // display: none;
    // display: block;
}

.album{
    height: 0vh;
    opacity: 0;
    transition: opacity .6s;
    z-index: 1;
}

.album.full{
    height: 100vh;
    filter: brightness(20%);
    opacity: 1;
    transition: opacity .4s;
   
}

.bottom-center-controls.full{
    position: absolute;
    bottom: 90px;
    padding: 0 16px;
}

.controls.full{
    background-color: transparent;
    border: 0;
    justify-content: space-between;
}

.left-controls.full{
    /* position: absolute;
    left: 0;
    padding-left: 16px; */
    width: 230px;
}

.heart-svg.full{
    padding-left: 0;
}
.full-svg.full{
    padding-right: 0;
}

.player-section:first-child{
display:none;
}