.media-player.full {
    // background-image: url(https://assets.fontsinuse.com/static/use-media-items/52/51196/full-1500x1500/58f577f9/C9H8-PWUIAAzbQ2-jpg-large-e.jpeg);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 400;

    .playing-from{
        width: 100%;
        position: absolute;
        margin-top: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 7px;
        span{
            margin: 0;
            font-weight: 200;
        }
        .playlist-name{
            font-weight: 900;
        }
    }

    @media (max-width:$narrow-breakpoint) {
        min-height: 100vh;
        overflow-y: scroll;
    }


    .progress-container {
        pointer-events: all;



        @media (max-width:$narrow-breakpoint) {


            input[type='range']::-webkit-slider-thumb {
                background-color: white;
            }

            progress[value]::-webkit-progress-value {
                background: #fff; // change to spotify
            }
        }
    }
}

.album {
    height: 0vh;
    opacity: 0;
    transition: opacity .6s;
    z-index: 1;
}

.album.full {
    height: 100vh;
    filter: brightness(20%);
    opacity: 1;
    transition: opacity .4s;

}

.bottom-center-controls.full {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 90px;
    padding: 0 16px;


}

.controls.full {
    background-color: transparent;
    border: 0;
    justify-content: space-between;
}

.left-controls.full {
    /* position: absolute;
    left: 0;
    padding-left: 16px; */
    width: 230px;
}

.heart-svg.full {
    padding-left: 0;
}

.full-svg.full {
    padding-right: 0;
}

.player-section:first-child {
    display: none;
}

@media(max-width:$narrow-breakpoint) {
    .media-player.full {
        background: linear-gradient(180.6deg, rgb(57, 57, 57) 1.2%, rgba(21, 20, 20, 0.93) 68.9%);
        background-color: rgb(24, 23, 23);
        padding: 2vw;

    }

    .controls.full {
        display: block;
        justify-content: center;
        height: 0px;
        padding: 2px;
    }

    .right-controls {
        display: none;
    }

    .center-controls.full {
        button {
            display: block;
        }
    }

    .top-center-controls.full {
        width: 100%;
        padding: 10px;
        justify-content: space-between;
        display: flex;
        position: absolute;
        bottom: -2vw;

        // padding-left: 3px;
        button.play-btn {
            width: 43px;
            height: 43px;
        }

        .play {
            height: 18px;
            width: 15px;
        }

        button {
            display: block;
            align-items: flex-end;

            svg.play {
                // width: 20px;
                // height: 20px;
            }
        }

        svg:not(.stop-svg, .play-svg) {
            fill: white;
            width: 8vw;
            height: 8vw;

            &.loop-song {
                fill: $clrGreen;
                margin-top: 1vw;
                width: 6vw;
                height: 6vw;
            }

            &.random-btn {
                margin-top: 1vw;
                width: 6vw;
                height: 6vw;
            }


        }

        .play-btn {
            background-color: $clr01;
            border-radius: 500px;
            height: 32px;
            width: 32px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                fill: $clr07;
                overflow: visible;
            }
        }
    }

    .bottom-center-controls.full {
        bottom: 27vw;
        padding-left: 23px;
        padding-right: 25px;


        span {
            display: inline;
        }
    }

    .time-progress-1 {
        position: absolute;
        top: 20px;
        left: 22px;
        font-size: 11px;
    }

    .time-progress-2 {
        position: absolute;
        top: 20px;
        right: 22px;
        font-size: 11px;
    }

    .left-controls.full {
        width: 98%;
        position: absolute;
        bottom: 38vw;
        left: 16px;
        padding: 0 5px;

        button {
            position: static;
        }

        .media-img {
            display: none;
        }

        .player-song-name {
            font-size: 22px;
            font-weight: 800;
            color: white;
        }
    }

    .album.full {
        height: 78vw;
        width: 78vw;
        filter: brightness(100%);
        opacity: 1;
        transition: opacity .4s;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 14%;
        text-align: center;
    }

    .close-full-mobile {
       position: absolute;
       top: 4vw;
    }
}