.media-player {
    pointer-events: all;

    iframe {
        display: none;
    }

    button {
        background-color: transparent;
        cursor: pointer;
    }

    svg {
        fill: $clr02;


        &:hover {
            fill: $clr01;
            cursor: pointer;
        }

        &.liked {
            fill: $clrGreen;
            height: 16px;
            width: 16px;
        }
    }




    // progress {
    //     height: 4px;
    //     border: 0.5px rgb(139, 139, 139) solid;
    //     appearance: none;
    //     background: gray;
    //     width: 100%;
    //     margin: 5px;
    //     border-radius: 8px;
    //     transition: 0.2s ease;
    //     background-color: #5e5e5e;

    //     &::-webkit-progress-bar {
    //         border-radius: 20px;
    //         background-color: #323232;
    //     }

    //     &::-webkit-progress-value {
    //         background-color: white;
    //         border-radius: 20px;
    //     }

    // }
    // input {
    //     width:100%;
    //     padding:0px;
    //     margin:5px;
    //     accent-color:white;
    //     height: 4px;
    //     border: 0;
    //     &::-webkit-slider-thumb{
    //         background-color: red;
    //     }
    //   }


    // input {
    //     height: 4px;
    //     // appearance: none;

    //     background: gray;
    //     width: 100%;
    //     margin: 5px;
    //     border-radius: 8px;
    //     transition: 0.2s ease;
    //     background-color: #5e5e5e;
    //     cursor: pointer;


    //     &::-webkit-slider-thumb {
    //         // -webkit-appearance: none;
    //         /* display: none; */
    //         color: green;
    //         width: 12px;
    //         height: 12px;
    //         border-radius: 50%;
    //         background-color: white;
    //         cursor: pointer;
    //     }



    //     &::-webkit-slider-thumb:hover {
    //         background-color: $clr01;
    //     }

    //     &::-webkit-progress-bar {
    //         background-color: $clr01;
    //     }

    //     &::-webkit-progress-value {
    //         background-color: red;
    //     }

    // }

    .media-img {
        height: 56px,
    }

    .player-section>*:first-child {
        display: none;
    }
}


.controls {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #181818;
    border-top: 1px solid #282828;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 90px;

}

.center-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 40%;

    .loop-song {
        fill: $clrGreen;
    }

    .loop-song:hover {
        fill: $clrGreen;
    }

}

.top-center-controls {
    .btn-play {
        path {
            // transform: translateX(-14%);
            // transform: translateY(1%);
            fill: $clr01;
        }
    }
}

.left-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 20%;

    img {
        width: 56px;
        margin-inline-end: 16px;
    }

    a {

        // margin-inline-end: 20px;
    }

    .player-song-name {

        color: $clr02;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .player-artist-name {
        color: $clr02;
        font-size: 11px;
    }

    >* {
        margin-inline-end: 10px;
    }
}

.right-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;

    // input {
    //     display: none;
    button {
        padding-bottom: 0;
    }

    // &:hover {
    //     input {
    //         display: block;
    //     }

    //     progress {
    //         display: none;
    //     }
    // }
}

.bottom-center-controls {
    display: flex;
    width: 100%;
    align-items: center;

    // input {
    //     width: 100%;
    // }

    .time-progress-1 {
        font-size: 11px;
    }

    .time-progress-2 {
        font-size: 11px;
    }

    span {
        color: $clr02;
    }

    input {
        // display: none;
        // position: absolute;
        // width: 35%;
        // transform: translateX(5%);
        // opacity: 0;
    }

    &:hover {
        // input {
        //     display: block;
        //     // position: absolute;
        // }

        // progress {
        //     display: none;

        // }
    }


}

.artist-details {
    min-width: 90px;
    max-height: 90%;
    overflow: hidden;
    display: flex;
    // flex-basis: 33%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
}

@media(max-width:$narrow-breakpoint) {

    // .right-controls {
    //     .sound-btn{
    //         // margin-top: 60px;
    //     }

    //     .sound-input-padding{
    //         background-color: green;
    //         width: 20px;
    //     }
    //     input {
    //         display: none;
    //         width: 10%;
    //         position: absolute;
    //         transform: rotate(270deg);
    //         top: -10px;
    //         right: 66px;

    //     }

    //     progress {
    //         display: none;
    //         // width: 10%;
    //         // position: absolute;
    //         // transform: rotate(270deg);
    //         // top: -30px;
    //         // right: 67px;

    //     }

    //     &:hover {
    //         input {
    //             display: block;
    //         }


    //         progress {
    //             display: none;
    //         }
    //     }
    // }
    .controls {
        height: 80px;
        border: 0;
        border-radius: 10px;
        bottom: 65px;
        background-color: #212121;
        margin: 0 12px;
        width: calc(100% - 24px);
    }

    .right-controls {
        display: none;
    }

    .top-center-controls {
        button:not(.play-btn) {
            display: none;
            align-items: flex-end;
        }

    }

    .center-controls {
        align-items: flex-end;
    }

    .bottom-center-controls {
        // progress{
        //     height: 3px;
        // }
        // input{
        //     height: 3px;
        // }
        position: absolute;
        bottom: 2px;
        width: 98%;
        left: 5px;
        padding: 0;

        span {
            display: none;
        }

    }

    .left-controls {
        button {
            position: absolute;
            right: 50px;
        }

        .media-img {
            height: 50px;
        }

        .player-song-name {
            font-size: 12px;
        }
    }

    .lyrics-btn {
        display: none;
    }
}


.progress-container {
    pointer-events: none;

    height: 10px;
    width: 100%;
    position: relative;


    .prog {
        width: 97%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    input[type='range'] {
        height: 4px;
        appearance: none;
        background: transparent;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: transparent;
        }
    }

    progress[value] {
        appearance: none;
        border: none;
        height: 4px;

        &::-webkit-progress-bar {
            background-color: rgb(154, 154, 154); // change to spotify
            border-radius: 2px;
        }

        &::-webkit-progress-value {
            background: white;
            border-radius: 2px;
        }


    }

    @media (min-width:$narrow-breakpoint) {
        pointer-events: all;

        &:hover progress[value]::-webkit-progress-value {
            background: $clrGreen; // change to spotify
        }

        &:hover input[type='range']::-webkit-slider-thumb {
            background: #fff;
        }
    }
}