.mini-menu {

    background-color: $clr06;
    padding: 5px;
    position: absolute;
    display: flex;
    // display: none;
    box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
    flex-direction: column;
    transform: translate(0, 35%);
    width: 150px;
    min-width: fit-content;
    top: -24px;
    align-items: flex-start;
    border-radius: 5px;
    z-index: 4000;

    hr {
        width: 90%;
        background-color: #3e3e3e;
        size: 5px;
    }

    button {
        background-color: unset;
        height: 40px;
        margin: 0;
        padding: 10px 15px;
        width: 100%;
        text-align: start;
        border-radius: 2px;


        &:hover {
            background-color: #3e3e3e;
        }
    }
}