.mini-menu {
    display: flex;

    flex-direction: column;

    align-items: flex-start;

    @media(min-width:$narrow-breakpoint) {
        background-color: $clr06;
        padding: 5px;
        position: absolute;
        // display: none;
        box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
        transform: translate(0, 35%);
        width: 150px;
        min-width: fit-content;
        top: -24px;
        border-radius: 5px;
        z-index: 4000;
        right: 0;
    }

    @media(max-width:$narrow-breakpoint) {
        padding: 20px 20px 0 25px;
        position: fixed;
        inset: 0 !important;
        background-color: $clr08;
        z-index: 20;
        width: 100%;
        transform: none !important;

        button {
            font-size: 1.4em;
            width: 100% !important;
            font-weight: bold;
            height:2.4em !important;
            // margin-bottom: 30px;
        }

        .close-menu {
            justify-content: end;
            margin-bottom: 25px;
        }

        // margin:0;
    }

    hr {
        width: 90%;
        background-color: #3e3e3e;
        size: 5px;
    }

    .visual-data {
        align-self: center; // text-align: center;
        font-size: 1rem;
        color: $clr02;



        .title {
            font-weight: bold;
            color: $clr01;
            font-size: 1.2rem;
            margin-bottom: 5px;
        }
    }

    .img-container {
        width: 43vw;
        height: 43vw;
        margin: 0px auto 15px;
    }

    button {
        background-color: unset;
        height: 40px;
        margin: 0;
        padding: 10px 15px;
        width: 100%;
        text-align: start;
        border-radius: 2px;


        &:hover {
            background-color: #3e3e3e;
        }
    }


}