.signup-page {
    // padding-top: 600px;
    display: flex;
    // align-items: center;
    justify-content: center;
    // align-items:stretch;
    height: calc(100% - 100px);

    form {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        width: 500px;

        h2 {
            align-self: center;
            width: unset;
            margin-bottom: 20px;
        }

        label {
            width: 100%;
            gap: 15px;
            align-items: center;
            justify-content: space-between;
        }

        input {
            width: 400px;
            height: 40px;
            border-radius: 4px;
            padding: 0 10px;
            margin-top: 0;
            margin-bottom: 0;

            &:focus-within {
                outline: unset;
            }
        }

        button {
            // background-color: unset;
            cursor: pointer;
            color: #000;
            background-color: $clrGreen;
            font-size: 1rem;
            line-height: rem(24px);
            padding: 16px 48px;
            border-radius: 500px;
            align-self: center;
            margin-top: 20px;

            &:hover {
                background-color: #1fdf64;
                transform: scale(1.05);
            }
        }

        @media (max-width:$narrow-breakpoint) {
            top: 50px;
            max-width: 85vw;

            label {
                flex-direction: column;
                justify-content: center;
                max-width: 85vw;
                gap: 0;

                input {
                    max-width: 85vw;
                }
            }

            button {
                padding: 10px 0;
            }
        }


    }

    @media (max-width:$narrow-breakpoint) {
        background-color: black;
        height: calc(100% - 50px);
        position: fixed;
        inset: 0 0 auto;
        z-index: 100;

    }
}