.song-list {
    * {
        // outline: 1px solid black
    }

    margin-block-end: 40px;


    >ul {
        list-style-type: none;
        padding: 0;
    }

    .column-drag-handle {
        // float: left;
        // padding: 14px 0px 0;
        // position:absolute;
        left:-6px;
        top:14px;
        z-index:20;
        width:5px;
        cursor:grab;
        height:20px;
        width:20px;

        &:active{
            cursor: grabbing;
        }

        &.dragged{
            cursor: grabbing;
        }

    }
}