.station-details {
    // padding: 20px;
    // background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(18, 18, 18, 1) 100%);

    .station-preview {
        gap: 25px;
        align-items: flex-end;
        // height: 60vh;
        max-height: 380px;
        background: linear-gradient(transparent 0, rgba(0, 0, 0, .5) 100%);
        background-color: $clr04;
        padding: 60px 35px 24px;

        @media (max-width:860px) {
            padding: 60px 10px 24px;

            .mini-menu {
                height: 300px;
                width: 300px;
            }
        }


        .mobile-img {
            display: none;
        }

        .img-uploader-container {
            height: 192px;
            width: 192px;
            flex-shrink: 0;
            background: $clr06;
            // display: grid;
            position: relative;

            box-shadow: 0 4px 60px rgb(0 0 0 / 50%);

            img {
                height: 192px;
                width: 192px;
                justify-self: center;
                aspect-ratio: 1/1;
                object-fit: cover;
                // height: 100%;
            }
        }

        .station-summary {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            // gap: 20px;

            h1 {
                // font-size: rem(72px);
                // font-size: 6vw;
                // margin-top: 9vw;
                // font-size: 5vw;
                // text-size-adjust: auto;

                font-size: 65px;
                margin-top: 20px;
                font-weight: 900;
                transform: translateY(-15%);
            }

            .summary-title {
                font-size: .75rem;
                margin-bottom: 0;
            }

            .station-desc {
                margin: 0;
            }

            .mini-dashboard {
                font-size: 0.875rem;
                margin-bottom: 0;
                line-height: normal;
            }
        }
    }

    .song-list-container {
        background-image: linear-gradient(rgba(0, 0, 0, .6) 0, $clr07 230px);
        background-color: $clr04;
        grid-column: 1/-1;
    }

    .playlist-actions {
        padding: 24px 0;
        display: flex;
        align-items: center;

        .btn-play-green {
            margin-inline-end: 32px;
        }

        .btn-follow {
            margin-inline-end: 24px;
            height: 32px;
            width: 32px;

            svg {
                height: 32px;
                width: 32px;
                fill: $clr02;

                &:hover {
                    fill: $clr01;
                }

                &.followed {
                    fill: $clrGreen;
                }
            }
        }

        .btn-more {
            background-color: unset;
            position: relative;
            color: $clr02;
            margin: 0;
            padding: 0;
            display: inline-flex;
            align-items: center;

            :hover {
                color: $clr01;
            }
        }
    }


    .song-list-header {
        text-transform: uppercase;
        border-bottom: 1px solid hsla(0, 0%, 100%, .1);
        border-radius: 0;
        margin-bottom: 15px;
        height: 35px;
        align-items: center;
        display: grid;
        grid-template-columns: 0 40px 40px 2fr 1fr 120px;
        gap: 10px;
        font-family: circular-light;
        font-size: 0.75rem;
        font-weight: 560;
        letter-spacing: 1px;
        color: $clr02;

        .list-song-index {
            justify-self: end;
            padding-inline-end: 4px;


        }


        .list-song-length {
            // flex-grow: 1;
            display: grid;

            small {
                justify-self: center;
            }
        }
    }

    .btn-find-more {
        margin: 0;
        white-space: nowrap;
        cursor: pointer;
        text-transform: uppercase;
        font-size: rem(14px);
        justify-self: end;
        transform: translateX(-10%);
    }
}

// @media (max-width:1255px){
//     .station-summary {
//         h1.pointer{
//             margin-top: 40px !important; 
//             font-size: 50px !important;
//         }
//     }

// }

@media (max-width:1027px) {
    .station-summary {
        h1.pointer {
            margin-top: 30px !important;
            font-size: 40px !important;
        }
    }
}

@media (max-width:750px) {
    .station-summary {
        h1.pointer {
            margin: 0 !important;
            font-size: 40px !important;
        }
    }
}

@media (max-width:820px) {
    .station-summary {
        display: block;
    }
}

@media (max-width:757px) {
    .station-details-page {
        width: 100vw;
    }

    .station-summary {
        align-items: center;
    }

    .uploader-img {
        display: block;
    }

    .song-list-container.content-layout {
        grid-template-columns: 10px 1fr 10px;

        .station-song-search {
            margin-left: 6px;

            button {
                padding-right: 0;
            }
        }


        .playlist-actions {
            justify-content: space-between;
        }

        .song-list-header {
            display: none !important;
        }

        .mini-menu {
            right: 0;
        }
    }

    .station-preview {
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center;

        h1 {
            // margin: 0 !important;
        }

        p.summary-title {
            display: none;
        }

        p.station-desc {
            text-align: center;
        }
    }

}