.station-details {
    // padding: 20px;

    .station-preview {
        gap: 25px;
        align-items: flex-end;
        height: 60vh;
        max-height: 380px;
        padding: 120px 35px 24px;
        background: rgb(60, 60, 68);
        background: linear-gradient(180deg, rgba(60, 60, 68, 1) 0%, rgba(29, 29, 33, 1) 100%);

        .img-uploader-container {
            height: 192px;
            width: 192px;
            flex-shrink: 0;
            //TODO change to var
            background: #282828;
            // display: grid;
            position:relative;

            box-shadow: 0 4px 60px rgb(0 0 0 / 50%);

            img {
                justify-self: center;
                aspect-ratio: 1/1;
                object-fit: cover;
                height: 100%;
            }
        }

        .station-summary {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 20px;

            h1 {
                font-size: rem(72px);
                margin: 0;
                font-family: gotham;
                font-weight: 900;
            }

            .summary-title {
                font-size: .75rem;
                margin-bottom: 0;
            }

            .station-desc {
                margin: 0;
            }

            .mini-dashboard {
                font-size: 0.875rem;
                margin-bottom: 0;
                line-height: normal;
            }
        }
    }

    .playlist-actions {
        padding: 24px 0;

        .btn-playlist-more-options {
            position: relative;
            color: $clr4;
            margin: 0;

            :hover {
                color: $clr2;
            }
        }
    }


    .song-list-header {
        text-transform: uppercase;
        border-bottom: 1px solid gray;
        border-radius: 0;
        // margin: 0 20px;
        height: 56px;
        align-items: center;
        display: grid;
        grid-template-columns: 40px 40px 2fr 1fr 120px;
        gap: 10px;
        font-family: gotham-light;
        font-size: 0.75rem;
        font-weight: 560;
        letter-spacing: 1px;

        .list-song-index {
            justify-self: center;

        }

        .list-song-title {
            // flex-grow: 5;
            // margin-inline-start: 50px;
        }

        .list-song-date {
            // flex-grow: 2;
            // padding-inline-start: 50px;
        }

        .list-song-length {
            // flex-grow: 1;
            display: grid;

            small {
                justify-self: center;
            }
        }
    }

    .btn-find-more {
        margin: 0;
        white-space: nowrap;
        cursor: pointer;
        text-transform: uppercase;
        font-family: gotham, sans-serif;
        font-size: rem(14px);
        justify-self: end;
        transform: translateX(-10%);
    }
}