.back-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 30;
}

.station-edit {
    background-color: $clr06;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: column;
    width: 524px;
    max-width: 80%;
    z-index: 20;

    header {
        display: flex;
        justify-content: space-between;
        padding: 24px;
        align-items: center;

        h1 {
            margin: 0px;
            font-size: 1.5rem;
            font-weight: 600;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: end;
            background-color: transparent;
            border: 0;
            color: hsla(0, 0%, 100%, 0.7);
            border-radius: 40px;
            height: 40px;
            width: 40px;
            margin-inline-end: -8px;

            &:hover {
                background-color: $clr05;
            }
        }
    }

    main {
        grid-gap: 16px;
        display: grid;
        grid-template: 32px 132px 32px/180px 1fr;
        grid-template-areas:
            "album-image title"
            "album-image description"
            ". save-button";
        padding: 0 24px 24px;

        .img-uploader-container {
            grid-area: album-image;
            height: 180px;
            margin: 0;
            position: relative;
            width: 180px;
            background-color: $clr05;
        }

        .title-container {
            grid-area: title;
            // position: relative;

            input {
                background: #404040;
                border: 1px solid transparent;
                border-radius: 4px;
                color: #fff;
                font-family: inherit;
                font-size: 14px;
                height: 40px;
                padding: 0 12px;
                width: 100%;
            }
        }

        .desc-container {
            grid-area: description;
            margin-top: 8px;

            textarea {
                background: hsla(0, 0%, 100%, .1);
                border: 1px solid transparent;
                border-radius: 4px;
                color: #fff;
                font-family: inherit;
                font-size: 14px;
                height: 100%;
                padding: 8px 8px 28px;
                resize: none;
                width: 100%;
            }
        }

        .save-container {
            grid-area: save-button;
            justify-self: flex-end;

            button {
                font-size: 1rem;
                font-weight: bold;
                border: 0px;
                border-radius: 500px;
                transform: translateY(-5px);
                margin: 0;
                background-color: $clr01;
                color: $clr06;
                padding: .8em 2em;
                position:relative;

                &:hover {
                    padding: .9em 2.1em;
                    transform: translateX(5.05em);
                    left: 0.05em;
                    transform: translateY(calc( -5px - 0.05em));
                    opacity:0.95;
                    // font-weight: ;

                    // transform: translate(.05em, -.05em);
                }
            }
        }
    }
}

.img-change-cover{
    height: 100%;
    width: 100%;
    background-color: rgba(40, 40, 40, 0.7);
    position:absolute;
    inset: 0;
}