.station-search-preview {
    border-radius: 5px;
    height: 56px;
    align-items: center;
    display: grid;
    grid-template-columns: 40px 1fr auto;
    gap: 15px;
    padding: 0 1rem;

    .song-img-container {
        position: relative;
        height: rem(40px);
        width: rem(40px);

        // margin-inline-end: 15px;
        &>* {
            width: 100%;
            height: 100%;

        }


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
        }

        .play-pause-btn {
            display: none;
            background-color: rgba(83, 83, 83, 0.5);
            position: absolute;
            inset: 0;

            svg {
                fill: $clr2;
                height: 20px;
                width: 20px;
            }
        }
    }

    &:hover {
        //TODO change to var
        background-color: #2b2b2c;

        .img-screen-play {
            opacity: 1;
        }

        .play-pause-btn {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &.clicked {
        //TODO change to var
        background-color: $clr9;

        .img-screen-play {
            opacity: 1;
        }

        .play-pause-btn {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .artist-name {
            color: $clrGreen;
        }
    }


    .song-title {
        font-size: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .btn-add-song {
        display: flex;
        align-items: center;
        font-size: 1rem;
        border: 1px solid #717171;
        padding: 5px 15px;
        border-radius: 500px;
        cursor: pointer;

        &:hover {
            outline: 1px solid #dfdfdf;
        }
    }
}