.home-page {


    .s-home-header {
        display: none;


        @media (max-width: 860px) {
            display: flex;
            justify-content: space-between;
            background-color: $clr08;
            padding: 20px;

            .greeting {
                font-size: 1.5rem;
                display: flex;
                align-items: center;
            }

            .s-header-actions {
                position: relative;

                button {
                    width: 48px;
                    height: 48px;
                    display: grid;
                    background-color: unset;

                    svg {
                        fill: $clr01;
                        justify-self: center;
                        align-self: center;
                    }
                }

                .mini-menu {
                    top: 0;
                    right: 0;
                    transform: translate(-20px, 50px);
                }
            }
        }
    }

}