.station-list-container {
    padding-right: 0;

    @media (min-width: 860px) {
        // padding-right: 0;
        padding: 20px;
    }

    .station-list-head {
        display: flex;
        justify-content: space-between;

        @media(max-width:750px) {
            margin-inline-start: 13px;
        }

        h1 {
            margin-top: 16px;
            font-size: 24px;
            padding-inline-start: 15px;
        }

        button {
            display: none;

            @media (min-width: 860px) {
                display: block;
                font-size: rem(12px);
                background-color: unset;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 0.5px;
                color: $clr02;
                cursor: pointer;
            }
        }

    }

}

.station-list {
    display: grid;
    gap: 18px; //170px
    overflow-x: scroll;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-auto-flow: column;
    // grid-auto-rows: minmax(180px, 1fr);
    // grid-auto-rows: 1;
    padding: 0 15px;
    margin: 0;
    // background-color: beige;

    @media(max-width:750px) {
        gap: unset;
    }

    li {
        list-style-type: none;
    }

    img {
        aspect-ratio: 1/1;
        width: 100%;
        border-radius: 5px;
        object-fit: cover;
        box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
    }

    &::-webkit-scrollbar {
        display: none;
    }

}

.station-card {
    position: relative;
    background-color: #171717;
    border-radius: 10px;
    padding: 15px;
    transition: background-color .4s;

    .station-title {
        font-size: 16px;
        margin: 10px 0;
    }

    .station-desc {
        font-size: 14px;
        color: rgb(183, 183, 183);
        margin: 0;
        line-height: 1.5em;
        height: 3em;

        // text-overflow: ellipsis;
        // overflow: hidden;
        // white-space: unset;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-details {
        // min-height: 100px;
        // background-color: red;
    }

    &:hover {
        background-color: #282828;
        cursor: pointer;
    }

    &:hover .btn-play-playlist {
        top: 38%;
        opacity: 1;
        transition: opacity .6s, top .6s;

        // cursor: pointer;
    }

    .btn-play-playlist {
        height: 48px;
        width: 48px;
        background-color: #1FDF64;
        padding: 10px;
        border-radius: 50%;
        position: absolute;
        top: 42%;
        right: 10%;
        opacity: 0;
        box-shadow: 0px 1px 5px 0px black;
        transition: opacity .6s, top .6s;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: #3bef7d;
        }

        svg {
            fill: black;
        }

        img {
            height: 145px;
        }
    }
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 140px;
    height: 20px;
    white-space: nowrap;

}

@media (max-width:750px) {
    .station-card {
        background-color: transparent;

        &:hover {
            background-color: unset;

            button {
                display: none;
            }
        }

        .station-img {
            border-radius: 0;
        }

        .station-title {
            // display: none;
            margin: 0;
            // opacity: 0;
            // height: 0;
        }

        .station-desc {
            display: none;
        }
    }
}

.skeleton-7b7uvxywsks {
    margin: 15px 10px;
    width: 175px;
}

.skeleton-7b7uvxywsks:empty {
    height: 265px;
    background-color: #171717;
    border-radius: 10px 10px 10px 10px;
    background-image: linear-gradient(100deg, rgba(173, 171, 171, 0), rgba(173, 171, 171, 0.5) 50%, rgba(173, 171, 171, 0) 80%), linear-gradient(#b7b7b7 13px, transparent 0), linear-gradient(#b7b7b7 13px, transparent 0), linear-gradient(#585858 145px, transparent 0), linear-gradient(#d3d3d3 20px, transparent 0);
    background-repeat: repeat-y;
    background-size: 50px 265px, 60% 290px, 78% 290px, 80% 290px, 70% 290px;
    background-position: -20% 0, 15px 235px, 15px 215px, 15px 20px, 15px 180px;
    animation: shineForSkeleton-7b7uvxywsks 1.6s infinite;
}

@keyframes shineForSkeleton-7b7uvxywsks {
    to {
        background-position: 120% 0, 15px 235px, 15px 215px, 15px 20px, 15px 180px;
    }
}

@media (max-width:$narrow-breakpoint) {

    .skeleton-7b7uvxywsks {
        margin: 0;
        width: 175px;
    }

    .skeleton-7b7uvxywsks:empty {
        position: relative;
        height: 207px;
        background-color: #000000;
        border-radius: 0px 0px 0px 0px;
        background-image: linear-gradient(#585858 140px, transparent 0), linear-gradient(#a6a5a5 20px, transparent 0);
        background-repeat: repeat-y;
        background-size: 140px 290px, 140px 290px;
        background-position: 15px 20px, 15px 180px;
    }

    .skeleton-7b7uvxywsks:empty:before {
        content: ' ';
        position: absolute;
        z-index: 1000;
        width: 100%;
        height: 207px;
        -webkit-mask-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%);
        -webkit-mask-repeat: repeat-y;
        -webkit-mask-size: 50px 207px;
        -webkit-mask-position: -20% 0;
        background-image: linear-gradient(rgba(146, 146, 146, 1) 140px, transparent 0), linear-gradient(rgba(146, 146, 146, 1) 20px, transparent 0);
        background-repeat: repeat-y;
        background-size: 140px 290px, 140px 290px;
        background-position: 15px 20px, 15px 180px;
        animation: shineForSkeleton-7b7uvxywsks 1.6s infinite;
    }

    @keyframes shineForSkeleton-7b7uvxywsks {
        to {
            -webkit-mask-position: 120% 0
        }
    }
}

.skeleton-7b7uvxywsk {
    width: 155px;
    height:20px;
    margin-inline-start: 40px;
    margin-top:30px;
    margin-bottom:15px;
}

.skeleton-7b7uvxywsk:empty {
    position: relative;
    height: 20px;
    background-color: #000000;
    border-radius: 0px 0px 0px 0px;
    background-image: linear-gradient(#c0c0c0 28px, transparent 0);
    background-repeat: repeat-y;
    background-size: 100% 290px;
    background-position: 0px 0px;
}

.skeleton-7b7uvxywsk:empty:before {
    content: ' ';
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 20px;
    -webkit-mask-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%);
    -webkit-mask-repeat: repeat-y;
    -webkit-mask-size: 50px 20px;
    -webkit-mask-position: -20% 0;
    background-image: linear-gradient(rgba(115, 115, 115, 1) 20px, transparent 0);
    background-repeat: repeat-y;
    background-size: 100% 290px;
    background-position: 0px 0px;
    animation: shineForSkeleton-7b7uvxywsk 1.6s infinite;
}

@keyframes shineForSkeleton-7b7uvxywsk {
    to {
        -webkit-mask-position: 120% 0
    }
}


.card-loader {
    // flex-wrap: nowrap;
    overflow: hidden;
    gap: 05px;
    margin-inline-start: 25px;
    margin-bottom: 30px;
}