.user-collection {


    .user-library-header {
        background-color: $clr08;
        display: none;

        @media(max-width: 859px) {
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .user-img-container {
                background-color: $clr06;
                height: 35px;
                width: 35px;
                border-radius: 50%;
                margin-inline-end: 15px;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            h1 {
                margin: 0;
                font-size: 24px;
            }

            .library-actions {
                button {
                    width: 48px;
                    height: 48px;
                    background-color: unset;

                    svg {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
    }
}