.alert {
    background-color: lightgray;
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 300px;
    border-radius: 5px;
    // right: 0.5em;
    padding: 0.5em 0.1em;
    z-index: 50;
    color:$clr2;
    box-shadow: 0 4px 8px 2px rgb(0 0 0 / 60%);

    &.alert-success {
        background-color: rgb(34, 148, 255);
    }

    &.alert-error {
        background-color: rgb(243, 76, 76);
    }
}