.user-collection {


    .user-library-header {
        background-color: $clr08;
        display: none;

        @media(max-width: 859px) {
            padding: 20px 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .user-img-container {
                background-color: $clr06;
                height: 35px;
                width: 35px;
                border-radius: 50%;
                margin-inline-end: 15px;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            h1 {
                margin: 0;
                font-size: 24px;
            }

            .library-actions {
                button {
                    width: 48px;
                    height: 48px;
                    background-color: unset;

                    svg {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
    }

    .station-library-list {
        display: grid;
        gap: 18px; //170px
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        grid-auto-flow: row;
        // grid-auto-rows: minmax(180px, 1fr);
        // grid-auto-rows: 1;
        padding: 50px 15px 30px;
        margin: 0;
        // background-color: beige;

        .liked-songs-info {
            @media(max-width:$narrow-breakpoint) {
                h1 {
                    color: $clr01;
                    font-size: 1.15rem;
                }

                p {
                    font-size: 1rem;
                }
            }
        }

        @media(max-width:$narrow-breakpoint) {
            gap: 10px;
            padding: 10px 5px;
            grid-template-columns: repeat(auto-fill, 100%);

            .station-card {
                gap: 10px;
                padding: 0;

                .card-details {
                    gap: 10px;
                    align-self: center;
                    color: $clr02;

                    .station-title {
                        font-size: 1.15rem;
                        color: $clr01;
                        line-height: 1;
                        // display: flex;
                        // align-items: center;
                    }
                }
            }

            .skeleton-7b7uvxywsks {
                // width: 70px;
                // height: 70px;
                // display: inline-block;

                // &:nth-child(odd) {
                //     width: calc(100% - 80px);
                //     height: 30px;
                // }
            }

            .skeleton-7b7uvxywsks:empty {
                position: relative;
                height: 70px;
                width:70%;
                background-color: transparent;
                border-radius: 0px 0px 0px 0px;
                background-image: linear-gradient(#4f4e4e94 70px, transparent 0), linear-gradient(#85838343 24px, transparent 0);
                background-repeat: repeat-y;
                background-size: 70px 290px, 100% 290px;
                background-position: 0px 0px, 85px 20px;
            }

            .skeleton-7b7uvxywsks:empty:before {
                content: ' ';
                position: absolute;
                z-index: 10;
                width: 100%;
                height: 70px;
                -webkit-mask-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(115, 115, 115, 0.273) 50%, rgba(255, 255, 255, 0) 80%);
                -webkit-mask-repeat: repeat-y;
                -webkit-mask-size: 50px 70px;
                -webkit-mask-position: -20% 0;
                background-image: linear-gradient(rgba(170, 170, 170, 0.379) 70px, transparent 0), linear-gradient(rgba(126, 125, 125, 0.409) 24px, transparent 0);
                background-repeat: repeat-y;
                background-size: 70px 290px, 100% 290px;
                background-position: 0px 0px, 80px 23px;
                animation: shineForSkeleton-nprtw1voyun 3s infinite;
            }

            @keyframes shineForSkeleton-nprtw1voyun {
                to {
                    -webkit-mask-position: 120% 0
                }
            }
        }

        li {
            list-style-type: none;

            @media (max-width:$narrow-breakpoint) {
                display: grid;
                grid-template-columns: 70px 1fr;


            }

        }

        img {
            aspect-ratio: 1/1;
            width: 100%;
            border-radius: 5px;
            object-fit: cover;
            box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
        }
    }
}