.song-lyrics {
    position: fixed;
    inset: 64px 0 90px $nav-width;
    background-color: rgba(36, 141, 153);
    background-image: linear-gradient(190deg, #1ed76066, transparent 50%);
    // z-index: ;
    padding-inline-start: 148px;
    overflow-y: auto;
    // text-shadow: -2px 2px 2px black;

    pre {
        font-size: 1.8rem;
        font-family: circular, rubik;
    }

    .full & {
        background-color: rgba(1, 1, 1, 0.106);
        background-image: linear-gradient(190deg, #1ed76066, rgba(36, 141, 153, 0.35) 50%, transparent 100%);

        inset: 0;
        padding-bottom: 150px;
        overflow-y: hidden;
        pointer-events: none;


        pre {
            height: calc(100vh - 160px);
            overflow-y: auto;
            pointer-events: all;

        }

    }

    &.mobile-lyrics {

        @media (max-width: $narrow-breakpoint) {
            background-color: rgba(36, 141, 153);

            border-radius: 8px;
            margin-top: 20px;
            height: 50vh;
            position: relative;
            inset: unset;
            display: block;
            padding: 10px 15px;

            pre {
                font-size: 1rem;
                height: 45vh;
            }

            &.expanded {
                inset: 10px;
                position: fixed;
                height: calc(100vh - 20px);
                z-index: 50;
                margin-top:0;
                // border-radius: 0;
                background-color: rgba(36, 141, 153);

                // background-color: rgb(143, 155, 178);

                .lyrics-container{
                    height:100vh;
                    overflow-y: auto;

                }

                pre {
                    height: 100%;
                    overflow-y:auto;

                }
            }
        }
    }
}

.mobile-lyrics-container {
    padding-bottom: 15px;


    @media(min-width: $narrow-breakpoint){
        display: none;
    }
}