.station-picker {
    padding: 30px;
    overflow-y: scroll;

    @media (max-width: $narrow-breakpoint) {
        padding-top: 50px;
        position: fixed;
        inset: 0;
        height: unset;
        background-color: $clr08;
        z-index: 50;
    }

    @media (min-width: $narrow-breakpoint) {
        position: absolute;
        z-index: 60;
        background-color: $clr07;
        height: fit-content;
        width: 500px;
        inset: 50vh 0 auto auto;
        transform: translate(-50%, -50%);
        box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
        // box-shadow: -1px -1px 10px rgba(84, 84, 84, 0.152);

        border-radius: 7px;

        ul{
            margin-top:10px;
            max-height:50vh;
            overflow-y: auto;
            padding-inline-end: -5px;
            &:hover::-webkit-scrollbar-thumb{
                background:$clr06;
            }
        }
    }

    .picker-header {
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 40px 1fr 40px;
        text-align: center;
        font-size: 1.5rem;
    }


    .search-input {
        position: relative;
        width: 100%;

        input {
            width: 100%;
            background-color: $clr06;
            color: $clr01;
            border: none;
            outline: none;
            border-radius: 4px;
            padding: 0.5rem 2rem;
            height: 40px;
            margin: 10px 0;


        }

        svg {
            fill: #c0c0c0;
            position: absolute;
            height: 16px;
            width: 16px;
            top: 21px;
            left: 0;
            margin-inline-start: 10px;
        }
    }

    .create-btn {
        background-color: $clrGreen;
        border-radius: 555px;
        color: $clr08;
        padding: .2em 1em;
        display: block;
        width: fit-content;
        margin: auto;
        font-size: 1.25rem;
        margin-bottom: 15px;
        cursor: pointer;

    }

    li {
        // margin-top: 15px;
        gap: 10px;

        * {
            margin: 0;
        }

        .img-container {
            width: 60px;
            height: 60px;
        }

        h4 {
            font-size: 1rem;
        }

        p {
            font-size: 0.875rem;
            color: $clr02;
        }

        @media (min-width: $narrow-breakpoint) {
            height: 80px;
            padding-inline-start: 10px;
            border-radius: 5px;

            &:hover {
                background-color: #59595934;
            }
        }
    }
}

.picker-screen {
    display: none;

    @media (min-width: 860px) {

        &.shown {
            display: block;
            position: fixed;
            background-color: rgba(0, 0, 0, 0.7);
            inset: 0;
            z-index: 50;
        }
    }
}