.container {
    max-width: calc(100vw - $nav-width);
    padding: 10px;
}

.main-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-narrow-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, $mobile-breakpoint) minmax(20px, 1fr);
    }

    @include for-normal-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, $narrow-breakpoint) minmax(20px, 1fr);
    }

    @include for-wide-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, $normal-breakpoint) minmax(20px, 1fr);
    }
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}


// for station app specifically
.app-layout {
    height: calc(100vh - 90px);
}

.main-layout {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    max-width: calc(100vw - $nav-width);

}

.content-layout {

    display: grid;
    grid-template-columns: 30px 1fr 30px;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }
}