@font-face {
    font-family: gotham;
    src: url('../fonts/Gotham-Spotify-Font/GothamMedium_1.ttf');
}

// @font-face {
//     // font-family: montserrat;
//     // src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
// }

@font-face {
    font-family: gotham-light;
    src: url('../fonts/Gotham-Spotify-Font/GothamLight.ttf')
}

@font-face {
    font-family:rubik;
    src: url('../fonts/Rubik/Rubik-Medium.ttf')
}
@font-face {
    font-family:rubik-light;
    src: url('../fonts/Rubik/Rubik-Light.ttf')
}

@font-face {
    font-family: circular;
    src: url('../fonts/Circular/CircularStd-Book.otf');
}

@font-face {
    font-family: circular-light;
    src: url('../fonts/Circular/CircularStd-Light.otf');
}