@font-face {
    font-family: gotham;
    src: url('../fonts/Gotham-Spotify-Font/GothamMedium_1.ttf');
}

// @font-face {
//     // font-family: montserrat;
//     // src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
// }

@font-face {
    font-family: gotham-light;
    src: url('../fonts/Gotham-Spotify-Font/GothamLight.ttf')
}

@font-face {
    font-family:rubik;
    src: url('../fonts/Rubik/Rubik-Medium.ttf')
}