// Colors
$clr1: #121212;
$clr2: #fff;
$clr3: #000;
$clr4: #b3b3b3;
$clr5: #95adbe;
$clr6: #282828;
$clr7: #404040;
$clr8: #574f7d;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;